.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1;
    font-family: Roboto;
}


ol {
    list-style-type: decimal-leading-zero;
}

ol ol {
    margin-left: 0.9em;
}

ol li {
    line-height: 1.5;
}

li li {
    list-style-type: lower-alpha;
}

li li li {
    list-style-type: square;
}

li li li li {
    list-style-type: circle;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

nav{padding-bottom: 1%;
padding-top: 1%;}

nav a{color:rgb(248, 242, 242);}

h3{padding: 1%;}

div section h4{padding: 0.5%;
    padding-bottom: 0%; 
color: rgb(146, 4, 4);}

div section section h4{padding: 0.5%;
    color: rgb(255, 1, 1);}

div section section section h4{padding: 0.5%;
    color: rgb(255, 69, 1);}

div section div h4{padding: 0.5%;
    color: rgb(255, 124, 1);}

div h4{padding: 0.5%;
    color: rgb(255, 242, 1);}

article{padding-left: 1%;
font-size: 140%;
color: black;}