table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#011d39; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #4d5ef6;
}

body {
	background-color: rgb(194, 192, 191);
  }

  ul {
	list-style-image: url('sqaureicon.ico');
  }