.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
.navbar-custom {
    background-color: rgb(255, 0, 0);
    align-self: stretch;
   
    
}
*{
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh;
    background: linear-gradient(
    to right,
    red 0%
    red 50%
    yellow 50%
    yellow 100%
    );
}

.vs {
    text-align: center;
    text-size-adjust: 500px;
}