.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
.navbar-custom {
    background-color: rgb(255, 0, 0);
}
.leftnav {
    align-content: left;
}
.split {
    height: 100vh;
    background: linear-gradient(
    to right,
    red 0%
    red 50%
    yellow 50%
    yellow 100%
    );
}
