.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1.5;
    font-family: Roboto;
}

button {
    padding: 5px;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}