.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Comic Sans MS";
    color: blue;
}

button {
    padding: 5px;
}

ol {
    list-style-type: decimal-leading-zero;
}

ol ol {
    margin-left: 0.9em;
}

ol li {
    line-height: 1.5;
}

li li {
    list-style-type: lower-alpha;
}

li li li {
    list-style-type: square;
}

li li li li {
    list-style-type: circle;
}

h1 {
    font-family: "Comic Sans MS";
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    color: blue;
}

body {
  background-image: url(http://24.media.tumblr.com/tumblr_ltuhtjmASH1r532ffo1_250.gif);
}

p {
    font-family: "Comic Sans MS";
    color: blue;
}

h2 {
    font-family: "Comic Sans MS";
    color: blue;
}

h3 {
    font-family: "Comic Sans MS";
    color: blue;
}
    
table {
    font-family: "Comic Sans MS";
    color: blue;
    
}

ul {
    font-family: "Comic Sans MS";
    color: blue;
}

ol {
    font-family: "Comic Sans MS";
    color: blue;
}
