#foodsection {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #c2c2c2;
	text-align: center;
	background-color:#9FB6CD;
	text-align: center;
	color: #1e1e1e;
	background-color: #d1ce72;
}

#Maintable {
	font-size: 25px;
	font-family: Georgia, serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.0) !important;
}

#Maintable td:hover {
	background-color: rgb(227, 227, 227);
}

p {
	font-family: Georgia, serif;
	font-size: 30px;
}

main {
	font-family: Georgia, serif;
}
  
footer {
	font-family: Georgia, serif;
	padding: 70px;
	font-size: 30px;
	text-align: center;
	color:#292929
}

  .button1 {
	font-size: 20px;
	background-color: #ffffff;
	border-radius: 10%;
}

h2 {
	font-size: 40px;
	padding: 40px 0px 0px 0px;
	text-align: center;
}

ul {
	font-size: 27px;
	padding: 20px 0px 0px 0px;
	text-align: center;
}